{% extends './plantilla.html' %} {% block titulo %} Gestion General {% endblock titulo %} {% block body %}

<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://uploadgerencie.com/imagenes/derecho-de-peticion.png" class="card-img-top" width="400" height="300">
        <div class="card-body">
            <h5 class="card-title">Solicitud de peticiones</h5>
            <p class="card-text">En este apartado usted puede solicitar peticiones, ver las respuestas y hacer reclamos.</p>
            <a href="/gestionPeticiones/" class="btn btn-primary">Ingresar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://lh3.googleusercontent.com/proxy/ZU9M0cdp6Q_ROQ6VdIB93XGpRZk4KL3IFUqxnsS9D4JhW90sDD29yHKxCsw3EEHEci5LlXc7IRltFjk6MSrz4Mz4ZSam_AYK94NaJ2XnHD-_IDCO-X_N" class="card-img-top" width="400" height="300">
        <div class="card-body">
            <h5 class="card-title">Solicitud de Quejas</h5>
            <p class="card-text">En este apartado usted puede solicitar Quejas, ver las respuestas y hacer reclamos.</p>
            <a href="/gestionQuejas/" class="btn btn-primary">Ingresar</a>
        </div>
    </div>
</div>

<h1>Estamos en Gestion General</h1>

{% endblock body %}